*{
    box-sizing: border-box;
    margin : 0;
    padding: 0;
}
body{
    background: #eaeaea;
}
.header{
    text-align: center;
    background: #1C3879;
    padding: 10px;
}
.nav{
overflow: hidden;
background-color: rgb(55, 55, 55);
}
a{
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
a:hover{
    background-color: #ddd;
    color: black;
}
.leftcolumn{
  float: left;
  margin-top: 1%;
  height: 73%;
  width: 73%;
}
.card {
    background-color: white;
    padding: 0px;
    margin-top:0px;
  }

.kanan {
  float : left;
  position: absolute;
  size: absolute;
  margin-left: 73%;
  margin-top: 1%;;
  background-color: white;

  }
.foto{
  position: relative;
  width: 170%;
  height: 170%;
  margin-left: 20px;
}
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  

.gallery {
  border: 1px solid #ccc;
   background-color: white;
  }
  
  div.gallery:hover {
  border: 1px solid #777;
  }
  div.gallery img {
  width: auto;
  height: auto;
  
  }
  div.desc {
  padding: 15px;
  text-align: center;
  font-size: 14px;
  }
  @media only screen and (max-width: 700px) {
      .responsive {
      width: 49.99999%;
      margin: 6px 0;
      }
      }
      @media only screen and (max-width: 500px) {
      .responsive {
      width: 100%;
      }
      }
      .clearfix:after {
      content: "";
      display: table;
      clear: both;
      }


      .imgThumbnail{
       margin-right:20px;
      }


/*Buat galeri nya*/
      .responsive {
        margin-top: 10px;
        padding: 0 6px;
        float: left;
        width: 24.99999%;
      }
        
        
        div.gallery {
            border: 1px solid #ccc;
            }
            div.gallery:hover {
            border: 1px solid #777;
            }
            div.gallery img {
            width: 80%;
            height: auto;
            
            
            }
            div.desc {
            padding: 15px;
            text-align: center;
            }
            @media only screen and (max-width: 700px) {
                .responsive {
                width: 49.99999%;
                margin: 6px 0;
                }
                }
                @media only screen and (max-width: 500px) {
                .responsive {
                width: 100%;
                }
                }
                .clearfix:after {
                content: "";
                display: table;
                clear: both;
                }
/*buat modal nya*/
                  .imgThumbnail{
                  border-radius: 5px;
                  cursor: pointer;
                  transition: 0.3s;
                  height: 640px;
                  width: 360px;
                  
               }
               .ImgThumbnail:nth-of-type(1) {
                  margin-left: 20%;
               }
               .modal {
                display: none;
                position: fixed;
                z-index: 1;
                padding-top: 100px;
                left: 0;
                top: 0;
                width: 100%;
                height: 100%;
                overflow: auto;
                background-color: rgb(0, 0, 0);
                background-color: rgba(0, 0, 0, 0.9);
             }
             .modalImage {
                margin: auto;
                display: block;
                width: 30%;
                height: 95%;
             }
             #caption {
              margin: auto;
              display: block;
              width: 80%;
              max-width: 700px;
              text-align: center;
              color: #ccc;
              padding: 10px 0;
              height: 150px;
           }
           .close {
              position: absolute;
              top: 15px;
              right: 35px;
              color: #f1f1f1;
              font-size: 40px;
              font-weight: bold;
              transition: 0.5s;
           }
           .close:hover,
.close:focus {
   color: rgb(255, 0, 0);
   cursor: pointer;
}
@media only screen and (max-width: 700px) {
   .modalImage {
      width: 100%;
      height: 100%;
   }
}
.kopi{
   position: block;
   bottom : 0;
   left : 0;
   padding-top: 3px;
   padding: 3px;
   text-align: center; 
   width : 100%;
   background: #1C3879;
   margin: 1px;
   color:white;
}
