*{
    box-sizing: border-box;
}
body{
    background: #eaeaea;
}
.header{
    text-align: center;
    background: rgb(0, 0, 169);
    padding: 10px;
}
.nav{
overflow: hidden;
background-color: rgb(55, 55, 55);
}
a{
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
a:hover{
    background-color: #ddd;
    color: black;
}